.auth {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aut-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}
input {
  padding: 0.5rem;
  outline: none;
  border-radius: 0.3rem;
  border: 2px solid indianred;
}
.auth p {
  font-size: small;
  cursor: pointer;
}
button {
  padding: 0.2rem;
  font-size: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
}
